*{
    box-sizing: border-box; 
    /* quando se define um padding pro elemento, ele aumenta a largura por padrão. o box-sizing serva pro padding não afetar a largura */
}
main{
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    /* é necessário colocar o flex-wrap, pq, na responsividade, precisa quebrar a linha */
}
section{
    border: 1px solid black;
    padding: 1rem;
    flex-basis: 18.28%;
}
/* respondividade */
@media (max-width: 1440px){
    body{
        background-color: burlywood;
    }
    section{
        flex-basis: 45%;
    }
}
@media (max-width: 744px){
    body{
        background-color: rgb(38, 231, 183);
    }
    section{
        flex-basis: 45%;
    }
}
